{% extends "src/html/main.njk" %} {% block content %}

<div style="width: 82%">
  <h1>Developer Resources</h1>
    <p>This page compiles resources that are useful to create your own Constructs from scratch or implement your own Kantab Client.</p>

    <ul>
        <li><a href="./protocol/">Kantab Websocket Protocol</a></li>
        <li><a href="./datatypes/">Kantab JSON Schemas</a></li>
    </ul>
</div>

{%endblock%}