<!DOCTYPE html>
<html>
<head>
    <title>{{scode}} - Kantab Server</title>
    <style>
        body{
            width: 100%;
            text-align: center;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <h1>{{scode}} {{smsg}}</h1>
    <hr />
    <em>kantab server</em>
</body>
</html>