<!DOCTYPE html>
<html>
<head>
    <title>{{scode}} - Curly</title>
    <style>
        body{
            width: 100%;
            text-align: center;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAMAAADVRocKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJUExURQAAAP///wAAAHPGg3EAAAADdFJOU///ANfKDUEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCA1LjEuMvu8A7YAAAC2ZVhJZklJKgAIAAAABQAaAQUAAQAAAEoAAAAbAQUAAQAAAFIAAAAoAQMAAQAAAAIAAAAxAQIAEAAAAFoAAABphwQAAQAAAGoAAAAAAAAAYAAAAAEAAABgAAAAAQAAAFBhaW50Lk5FVCA1LjEuMgADAACQBwAEAAAAMDIzMAGgAwABAAAAAQAAAAWgBAABAAAAlAAAAAAAAAACAAEAAgAEAAAAUjk4AAIABwAEAAAAMDEwMAAAAADp1fY4ytpsegAAAVZJREFUaEPtkdGSwjAMA6H//9H4osXnumnIHfShLvvQOIoszcBtOZjaBbdpWOhRtcB27muS0jWwvKZkgZbtG1FKhIcnUogIFCuI1i0tFpDWuE5co1KB3vaWJ9l2lCmQ+ma6SB2VCj6SLhRFMkeFgo9DMscBkMxxACRzzGE/7vxfRTLHHN+Cl5y8QOkCaQjJHBOQ3UAaQjLHBGQ3kIaQPE4nbwjWHoULWP0jLAeqFrhbgxFnp2uwIVK1wHC3f7skgw2J8gVGnLskc6J8gQa/bkkGGxJVC9ytwejOe2KkdsGAgUcJzgULcFyygPfmYPoXKapSQYT3DTw3kDbw/KRSAe/NwbQm6T/bPWcUba5aEK9jkjPt2lymQB2Orrim8UWnBZcqiD4pQvoemMKW6ygcpy8wmu336kg3tCmQ9v1crlHgyCCQeiTDpQomSTmVCg7iW/CSsxcsywNNmh76cjLXNgAAAABJRU5ErkJggg==" alt="Sad Curly" style="pointer-events:none;" />
    <h1>{{scode}} {{smsg}}</h1>
    <hr />
    <em>curly v{{version}}</em>
</body>
</html>