{% extends "src/html/main.njk" %} {% block content %}

<div>
  <h1>Guidebook</h1>
  <div>
    <main class="guidebook-index">
        <div class="guidebook-ch"><a href="./quickstart/">Kantab Setup for New/Spud Tablet users</a></div>
        <div class="guidebook-ch"><a href="./streaming/">Streaming software set-up</a></div>
        <div class="guidebook-ch"><a href="./dictionary/">Term Glossary</a></div>
        <div class="guidebook-ch"><a href="./constructs/">Construct making and editing</a></div>
        <div class="guidebook-ch"><a href="./tips/">Extra tips</a></div>
        <div class="guidebook-ch"><a href="./dev/">Developer resources</a></div>
        <div class="guidebook-ch"><a href="./curly/">Who is "Curly"</a></div>
    </main>
  </div>
</div>

{% endblock %}
