{% extends "src/html/main.njk" %} {% block content %}

<div style="width: 82%">
  <h1>Who is "Curly"?</h1>
  <h2>This is Curly:</h2>
  <img
    src="/img/curlyref.png"
    style="width: 100%"
    alt="Curly's Reference Sheet"
  />
  <p>
    Curly is an original character who is the representation of the Kantab
    Server and is also the model for some of the built-in Constructs.
  </p>
  <p>
    Kantab is open-source, <em>but Curly is not</em>. The design belongs to me
    (GlitchyPSI). You're however free to draw her and such, but don't claim her
    as yours!
  </p>
  <p><em>Below this line, information is in-universe.</em></p>
  <hr />
  <p>
    She's a digital being that has dwelled long ago throughout many places.
    Unassuming, especially in comparison to connotations of other sentient
    digital entities, and prefers to focus on her own creative work rather than
    to stir up trouble or make the life of a system's owner hard.
  </p>
  <p>
    One day she found herself a calm place to stay quietly in, where she has
    built a garden for herself that she tends to every now and then, as well as
    her appearance and surroundings, mostly by drawing over herself and the
    environment.
  </p>
  <p>
    Later on she became reminiscent of her wandering days, and decided to
    passively advertise herself to help others on artistic endeavors by
    demonstration and assistance. She is infact showing you these pages this
    very moment! Say hello!
  </p>
  <p>
    She still favors remaining mostly calm in her own place, however, but has no
    qualms assisting when asked.
  </p>
  <table>
    <tr>
      <th><strong>Likes</strong></th>
      <th><strong>Dislikes</strong></th>
    </tr>

    <tr>
      <td>Drawing and painting</td>
      <td>Malware</td>
    </tr>

    <tr>
      <td>Nature in general</td>
      <td>Overly loud or chaotic places</td>
    </tr>

    <tr>
      <td>Gardening, flowers mostly</td>
      <td>People attempting to separate her body parts</td>
    </tr>

    <tr>
      <td>Teaching</td>
      <td>Bees</td>
    </tr>

    <tr>
      <td>Bees</td>
    </tr>
  </table>
</div>

{%endblock%}

{% block curly %}
<i class="curly2"></i>
{%endblock%}